body {
	margin: 0px;
	font-family: Verdana, Tahoma, Arial;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#menu {
	width: 195px;
	font-family: 12pt Arial;
	font-weight: bold;
}

ul#menu li {
	color: #0E464E;
	line-height: 19px;
	
}

ul#menu li.header {
	background: #DFDFDF;
	font-weight: 400;
	padding: 0px 3px;
	text-align: center;
	font-size: 13pt;
	font-family: 12pt Arial;
	color: #0E464E;
	
}

ul#menu li a {
	color: #20b2aa;
	text-decoration: none;
	display: block;
	padding: 0px 3px;
	outline: none;
	margin-top: 10px;
	border-bottom: 1px #DFDFDF solid;
}

ul#menu li.parent>a {
	background: transparent url('../img/down.gif') right center no-repeat;
}

ul#menu li.aberto>a {
	background: transparent url('../img/up.gif') right center no-repeat;
}

ul#menu li a:hover {
	background: #20b2aa;
	border: 1px #DFDFDF solid;
	color: white;
}

ul#menu li ul.sub-menu {
	display: none;
}

ul#menu li ul.sub-menu li a {
	padding-left: 15px;
	color: #008000;
}

ul#menu li ul.sub-menu li a:HOVER {
	padding-left: 15px;
	color:white;
	border: 1px white solid;
	
}

#top {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 50px;
	box-shadow: 0px 0px 2px #000;
	border: 1px white solid;
	background: #20b2aa;
}

#content {
	width: 900px;
	height: 595px;;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	box-shadow: 0px 0px 2px #000;
	border: 1px white solid;
}

#content #content_left {
	width: 200px;;
	height: 587px;
	float: left;
	margin: 0;
	margin-top: 5px;
	margin-left: 1px;
	border-right: 1px gray solid;
	
	
}

#content #content_left #menuUser {
	width: 196px;
	height: 585px;
	margin: 0px;
	border: 1px white solid;
	
}

#content  #content_right {
	width: 650px;;
	height: 590px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}

#content  #content_right fieldset {
	width: 650px;;
	height: 572px;
	float: right;
	color: #0E464E;
	border: none;
}

.campo {
	margin-left: 65px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.texto{
	color: #0E464E;
	margin-left: 10px;
}

#content  #content_right fieldset input.botoes {
	width: 80px;
	margin-left: 15px;
	margin-top: 5px;
	color: #000;
	border: #CCC solid 1px;
}

#content  #content_right fieldset input.botoes:HOVER {
	color: #fff;
	background: #0E464E;
}

a {
	display: block;
	font-size: 10pt;
	color: #000;
}

label {
	font-family: Verdana sans-serif;
	font-size: 15pt;
	color: #000;
}

.tabela {
	font-family: Arial;
	font-size: 10pt;
	width: 650px;
	margin-left: 0px;
}

.cabecalho {
	text-align: center;
	color: white;
	background: #20b2aa;
}

.linha1 {
	background: #C9C9C9;
}

.linha2 {
	background: white;
}